/* MOBILE */
@media (max-width: 576px) {
      
    /*INDEX*/
      #header-index {
        flex-direction: column;
        #header-index nav ul {
          display: flex;
          flex-direction: column;
        }
      }

      #nav-index-p1{
        display: flex;
        flex-direction: column;
      }

    .container {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
      justify-content: center;
      background-color: $background-image;

      .banner {
        align-self: center;
        width: 90%;
      }
    }

    #section-cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      padding: 10px 10px;
      width: 100vw;
      font-size: small;
    }

    /*About-me*/

    #div-about-me {
      display: flex;
      flex-direction: column;
      line-height: normal;
      font-size: 15px;
      font-weight: 400;
      justify-content: center;
      align-items: center;
    }
    .grid-container {
      grid-template-columns: repeat (2, 1fr);
      grid-template-areas:
      "header"
      "section"
      "aside"
      "div"
      "footer";
      justify-self: center;
      justify-items: center;
      margin: 0.5vh 15vw;
    }
    .box-1 {
      width: 100vw;
    }

    .box-2 {
      width: 100vw;
      height: 100vh;
    }

    .box-3 {
      width: 100vw;
    }

   .box-4  {
      grid-area: div;
      width: 100vw;
      height: 28vh;
      background-color: rgba(214, 21, 182, 0.219);
      border-radius: 20px;
      font-size: 16px;
      transition: all 0.5s;
   }

   #section-about-me nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0px 0px;

    #section-about-me nav ul li {
     list-style-type: none;
     display: inline;
     padding: 0px 20px;
   }
  } 

  #section-about-me nav ul li a {
   text-decoration: none;
   color: rgb(26, 98, 194);
   font-size: 16px;
   font-weight: bold;
   display: flex;
   flex-direction: column;
   padding: 10px;
 }

   #about p {
    font-size: 16px;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/*My projects*/

  #all-container {
    display: flex;
    flex-direction: column;
     }

    #div-p1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 130px;
      margin-left: 0px;
    }
    #main-p1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 0px;
      margin-bottom: 10px;
    }
    .main-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 0px;

      #logo-p1 {
        display: flex;
        text-decoration: none;
        color: black;
        font-size: 2.0em;
        text-align: center;
        vertical-align: middle;
        justify-content: center;
        font-weight: bold;
      }
      #img-container-p1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        font-size: 10px;
        width: 95%;
    
      #img-left {
        display: flex;
        align-self: center;
        width: 95%;
      }
    }
 }
    #main-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      width: 100%;
      margin: 0px 0px;
    }

    .p-right {
      font-size: 5px;
      text-align: center;
      padding: 1px;
      line-height: 20px;
    }

    #section-name01 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 95%;
      height: 25vh;
      background-color: #e7908e7c;
      border-radius: 20px;
      transition: all 0.5s;
    }

    #section-name01 nav ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #nav-items-p1 {
      display: flex;
      flex-direction: column; }
    
    /*My jobs*/
    
    #main-p2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px 0px;
      margin-bottom: 10px;
      background-color: rgba(158, 93, 219, 0);
    }

    #name02-left {
      background-color: rgba(88, 88, 202, 0.493);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border-radius: 20px;
      -webkit-animation: roll-in-left 0.6s ease-out both;
      animation: roll-in-left 0.6s ease-out both;

      #img-name02 {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        margin-top: 20px;
        transform: rotateY(30deg);
        -webkit-transform: rotateY(30deg);
        -moz-transform: rotateY(30deg);
        -ms-transform: rotateY(30deg);
        -o-transform: rotateY(30deg);
      }
    }


    #name02-right {
      background-color: rgba(88, 88, 202, 0.493);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-left: 0px;
      border-radius: 20px;
      -webkit-animation: roll-in-left 0.6s ease-out both;
      animation: roll-in-left 0.6s ease-out both;

      #img-name02-right {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        margin-top: 20px;
        transform: rotateY(30deg);
        -webkit-transform: rotateY(30deg);
        -moz-transform: rotateY(30deg);
        -ms-transform: rotateY(30deg);
        -o-transform: rotateY(30deg);
      }

      #title-name02 {
        font-size: 30px;
        text-align: center;
        color: aliceblue;
        font-weight: bold;
      }
    }
    

  /*Contact*/

  #div-page5{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 20px auto;
    overflow-x: hidden;
    background-color: $background-image;
  }
  
  #main-ty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 10px;
  }
  
  #header-page5 {
    background-color: rgba(41, 212, 212, 0.445);
    width: 100%;
    height: 50vh;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
    #logo-index-p5 {
      display: flex;
      text-decoration: none;
      list-style-type: none;
      color: black;
      font-size: 2.5em;
      text-align: center;
      vertical-align: middle;
      justify-content: center;
      margin-right: 20px;
      font-weight: bold;
    }
  }
  
  #nav-page5 {
    height: 100vh;
  }
  
  #ul-page5 li {
    list-style-type: none;
    display: inline;
    padding: 0px 20px;

    #ul-page5 li ul a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: rgb(26, 98, 194);
      font-size: 20px;
      font-weight: bold;
    }
  }

  #only-section {
    background-color: rgba(88, 88, 202, 0.493);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
  }
    .contacto {
      font-size: 1.2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .btn {
        width: 40%;
        margin: 5px auto;
        height: 40%;
        color: black;
      }

      .input-form {
        width: 100%;
        height: 40%;

        .input {
          width: 80%;
        }
      }
    }
    
    #ul-networks  li {
      list-style-type: none;
      padding: 0px 20px;
      display: flex;
      flex-direction: row;

      #ul-networks li a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: rgb(26, 98, 194);
        font-size: 10px;
        font-weight: bold;
      }
    }

  #img-page5 {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0px;
  }

  #footer-page5 {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 10vh;
  }

  #ul-page5 {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}