#index-div {
     @extend .alineacion;
    flex-direction: column;
    

    .header-index .navbar-brand {
    text-decoration: none;
    list-style-type: none;
    font-size: 2.5em;
    vertical-align: middle;
    font-weight: bold;
  }

  .nav li {
    list-style: none; 
  }

  .nav li a {
    text-decoration: none;
    font-size: 20px;
    color: #E78F8E;
    font-weight: bold;
    transition: all 0.5s;
    display: inline;
    padding: 0px 20px;
  }
  
  .nav li a:hover {
    color:rgb(26, 98, 194);
    font-size: 30px;
  }
}

#logo-i {
      color: black;
      font-size: 3.0em;
      vertical-align: middle;
      font-weight: bold;
}