

#div-about-me {
    display: flex;
    flex-direction: column;
    line-height: normal;
    font-size: 15px;
    font-weight: 400;
   }
  
      .grid-container {
        display: grid;
        grid-template-areas: 
        "header section aside"
        "nav nav nav"
        "footer footer footer";
        grid-column-gap: 5px;
        margin: 2.5vh 15vw;
        height: 78vh;
      }
      .box-1 {
        grid-area: header;
        width: 22vw;
        height: 100%;
        justify-self: center;
        -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
       }
        @-webkit-keyframes flip-in-ver-right {
          0% {
            -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
            opacity: 0;
          }
          100% {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
            opacity: 1;
          }
        }
        @keyframes flip-in-ver-right {
          0% {
            -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
            opacity: 0;
          }
          100% {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
            opacity: 1;
          }
        }
        
        .cont-img {
          width: 100%;
          height: 79.5vh;
          border-radius: 20px;
        }
        
        .cont-img2 {
          width: 100%;
          height: 79.5vh;
          border-radius: 20px;
        }
        
        #section1 {
          height: 85%;
        }
        
        #section2 {
          height: 85%;
        }

        #section2 {
          height: 85%;
        }
        
        .box-2 {
       @include propiedades-grid(section, center, center); 
      width: 20vw;
      height: 100%;
      justify-self: center;

      .box-2 h2 {
        text-align: center;
        font-size: large;
      }
    }

    .box-2 #about {
      text-align: center;
      font-size: x-small;
      height: 65%;
      margin-bottom: 10px;
      background-color: rgba(196, 109, 187, 0.342);
      padding: 20px;
      border-radius: 20px;
    }

    .logo {
      font-size: 25px;
    }
      
      .iconos {
        width: 40px;
        margin: 5px;
      }

      #iconos ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: 5px;
        padding: 0;
      }
      
      .box-2 #contact_me {
        text-align: center;
        height: 50%;
        background-color: rgba(41, 212, 212, 0.445);
        padding: 20px;
        border-radius: 20px;
      }

      #datos {
        list-style-type: none;
        margin: 5px;
        padding-left: 0;
        vertical-align: middle;
        display: flex;
        flex-direction: column;
      }
      .datos-text {
        width: 100%;
        margin: 10px;
        display: flex;
        flex-direction: row;
      }
       
      p {
        font-size: 18px;
        text-align: center;
        padding-top: 5px;
      }
  
      
      .box-3 {
      @include propiedades-grid(aside, center, center); 
      width: 22vw;
      height: 100%;
      -webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
      @-webkit-keyframes flip-in-ver-left {
        0% {
          -webkit-transform: rotateY(80deg);
          transform: rotateY(80deg);
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateY(0);
          transform: rotateY(0);
          opacity: 1;
        }
      }
      @keyframes flip-in-ver-left {
        0% {
          -webkit-transform: rotateY(80deg);
          transform: rotateY(80deg);
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateY(0);
          transform: rotateY(0);
          opacity: 1;
        }
      }
      
      .box-4 {
      @include propiedades-grid(nav, center, center); 
      margin: auto;
      width: 65vw;
      height: 8vh;
      background-color: rgba(214, 21, 182, 0.219);
      border-radius: 20px;
      font-size: 20px;
      transition: all 0.5s;
    }

    #section-about-me nav ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }  

      #section-about-me nav ul li {
        list-style-type: none;
        display: inline;
        padding: 0px 20px;
      }
      
      #section-about-me nav ul li a {
        text-decoration: none;
        color: rgb(26, 98, 194);
        font-size: 20px;
        font-weight: bold;

      }
      
      #section-about-me nav ul li a:hover {
        color:rgb(3, 50, 112);
        font-size: 22px;
      }
      
      .box-5 {
      @include propiedades-grid(footer, center, center); 
      padding: 10px;
    }

