.alineacion {
  display: flex;
  justify-content: center;
  align-items: center;
  }

   #div-p1 {
    display: flex;
    line-height: normal;
    font-size: 15px;
    font-weight: 400;
   }

    #main-p1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 10vw;
      margin-bottom: 6px;
      background-color: rgba(158, 93, 219, 0);
    }

    #logo-p1 {
      display: flex;
      text-decoration: none;
      color: black;
      font-size: 3.0em;
      text-align: center;
      vertical-align: middle;
      justify-content: center;
      font-weight: bold;
    }
    
      #img-left {
        @extend .alineacion;
        height: 70vh;
        -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }
      
      @-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

#img-container-p1 {
display: flex;
flex-direction: row;
height: 70vh;
width: 80vw;
}

 #main-right {
  @extend .alineacion;
  flex-direction: column;
  border-radius: 20px;
  padding: 50px;
  background-color: rgba(196, 109, 187, 0.342);
  margin-left: 10px;
  height: 70vh;


  #title-right {
    font-size: x-large;
    text-align: center; 
  }

  .p-right {
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
  }
}