#div-page5{
  @extend .alineacion;
    flex-direction: row;
    width: 100vw;
    margin: 20px auto;
    overflow-x: hidden;
    background-color: $background-image;
  }

    #main-ty {
      @extend .alineacion;
      flex-direction: row;
      width: 90vw;
      margin: 20px;
    }
    
    #only-section {
        background-color: rgba(88, 88, 202, 0.493);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 90vh;
        border-radius: 20px;
      }
        #img-page5 {
          width: 90%;
          height: 60vh;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 40px;
          -webkit-animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        }
          @-webkit-keyframes slide-bck-center {
            0% {
              -webkit-transform: translateZ(0);
              transform: translateZ(0);
            }
            100% {
              -webkit-transform: translateZ(-400px);
              transform: translateZ(-400px);
            }
          }
          @keyframes slide-bck-center {
            0% {
              -webkit-transform: translateZ(0);
              transform: translateZ(0);
            }
            100% {
              -webkit-transform: translateZ(-400px);
              transform: translateZ(-400px);
            }
          }
        
    
          .contacto {
            @extend .alineacion;
            flex-direction: row;
            width: 100%;
            font-size: 1.5em;
            padding: 50px;
          }
          
          #contacto-left {
            @extend .alineacion;
            flex-direction: column;
            width: 100%;
            -webkit-animation: wobble-hor-bottom 0.8s both;
            animation: wobble-hor-bottom 0.8s both;
          }
          
          @-webkit-keyframes wobble-hor-bottom {
            0%,
            100% {
              -webkit-transform: translateX(0%);
              transform: translateX(0%);
              -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
            }
            15% {
              -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
            }
            30% {
              -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
            }
            45% {
              -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
            }
            60% {
              -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
            }
            75% {
              -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
            }
          }
          @keyframes wobble-hor-bottom {
            0%,
            100% {
              -webkit-transform: translateX(0%);
              transform: translateX(0%);
              -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
            }
            15% {
              -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
            }
            30% {
              -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
            }
            45% {
              -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
            }
            60% {
              -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
            }
            75% {
              -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
            }
          }
          
          h4 {
            font-size: 1em;
            height: 40px;
          }

          
          form {
            display: flex;
            flex-direction: column;
            border-color: blue;
            width: 50%;
          }
          
          .btn {
            width: 30%;
            margin: 5px auto;
            height: 30%;
            color: black;

          .btn:hover {
            background-color: rgba(176, 112, 219, 0.493);
            }
          }
          
          #contacto-right {
            @extend .alineacion;
          flex-direction: column;
          width: 100%;
        }

        ul {
           padding-left: 0;
        }

        #ul-networks  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
        }

        @-webkit-keyframes wobble-hor-bottom {
     0%,
    100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    }
    15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
    }
    30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
    }
    45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
      }
      75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
      }
    }
    @keyframes wobble-hor-bottom {
      0%,
      100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
      }
      15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
      }
      30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
      }
      45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
      }
      60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
      }
      75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
      }
    }
    
    
    #ul-networks  li {
      list-style-type: none;
      padding: 0px 20px;
      display: flex;
      flex-direction: row;

      #ul-networks li a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: rgb(26, 98, 194);
        font-size: 20px;
        font-weight: bold;
      }
    }
    
    h1  {
      animation-duration: 10s;
      animation-name: focus-in-expand-fwd;
      animation-iteration-count: infinite;
      -webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    @-webkit-keyframes focus-in-expand-fwd {
      0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-800px);
        transform: translateZ(-800px);
        -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
              }
              100% {
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                -webkit-filter: blur(0);
                filter: blur(0);
                opacity: 1;
              }
            }
            @keyframes focus-in-expand-fwd {
              0% {
                letter-spacing: -0.5em;
                -webkit-transform: translateZ(-800px);
                transform: translateZ(-800px);
                -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
              }
              100% {
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
      }
    }
    
    #main-right {
      animation-duration: 10s;
      animation-name: colorful;
      animation-iteration-count: infinite;
    }
    @keyframes colorful {
      0% {
        background-color: #E78F8E;
        top: 0px;
      }
      
      100% {
        background-color: rgba(176, 112, 219, 0.493);
        top: 0px;
      }
    }
     