#section-name01 {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 65vw;
    height: 8vh;
    background-color: #e7908e7c;
    border-radius: 20px;
    font-size: 20px;
    transition: all 0.5s;
   }
    
   #nav-project-name01 {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #nav-project-name01 nav {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #nav-project-name01 nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      }
  
    #section-name01 nav ul li {
      list-style-type: none;
      display: inline;
      padding: 8px 20px;
      }
  
    #section-name01 nav ul li a {
      text-decoration: none;
      color: rgb(26, 98, 194);
      font-size: 20px;
      font-weight: bold;
  
    }
    
    #section-name01 nav ul li a:hover {
      font-size: 22px;
      color:rgb(3, 50, 112);
    }   