* {
  font-family: 'Taviraj', serif;
  box-sizing: border-box;
}

/* Página de inicio*/

body {
  display: flex;
  line-height: normal;
  font-size: 15px;
  font-weight: 400;
  background-image: url(./Images/fondo-craquelado.jpg);
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 20px auto;
  justify-content: center;
  background-image: url(./Images/fondo-craquelado.jpg);
}

#index-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
  
.banner {
  align-self: center;
  width: 60%;
}

#header-index {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100vw;
    height: auto;
}

#header-index nav ul li a {
    text-decoration: none;
    color: #E78F8E;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s;
}

#header-index nav ul li a:hover {
    color:rgb(26, 98, 194);
    font-size: 22px;
}

#header-index nav ul li {
    list-style-type: none;
    display: inline;
    padding: 0px 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo-index {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 2.5em;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  margin-right: 20px;
  font-weight: bold;
}

#logo-p1 {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 2.5em;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  font-weight: bold;
}

#section-cont {
  background-image: linear-gradient(to left, pink , white);

}

footer {
  display:flex ;
  justify-content: center;
  text-align: center;
}
 /* Página about-me*/ 

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 6px;
    background-color: rgba(158, 93, 219, 0);
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header section aside";
    grid-column-gap: 5px;
    margin: 3.5vh 10vw;
    height: 78vh;
}


.box-1 {
  grid-area: header;
  width: 22vw;
  height: 100%;
  justify-self: center;
  -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  
.cont-img {
    width: 100%;
    height: 79.5vh;
    border-radius: 20px;
}

.cont-img2 {
  width: 100%;
  height: 79.5vh;
  border-radius: 20px;
}

#section2 {
  height: 49%;
}

.box-2 {
  grid-area: section;
  width: 20vw;
  height: 100%;
  justify-self: center;
}

.box-2 h2 {
  text-align: center;
  font-size: large;
}

.box-2 #about {
    text-align: center;
    font-size: x-small;
    height: 100%;
    margin-bottom: 10px;
    background-color: rgba(196, 109, 187, 0.342);
    padding: 20px;
    border-radius: 20px;
 }

 #iconos ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 0;
}
.iconos {
    width: 40px;
    margin: 5px;
}

.box-2 #contact_me {
    text-align: center;
    height: 100%;
    background-color: rgba(41, 212, 212, 0.445);
    padding: 20px;
    border-radius: 20px;
}
#datos {
    list-style-type: none;
    margin: 5px;
    padding-left: 0;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
}

.datos-text {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

p {
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
}

.box-3 {
    grid-area: aside;
    width: 22vw;
    justify-self: center;
    -webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes flip-in-ver-left {
    0% {
      -webkit-transform: rotateY(80deg);
              transform: rotateY(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-left {
    0% {
      -webkit-transform: rotateY(80deg);
              transform: rotateY(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  


#section-about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 65vw;
    height: 10vh;
    background-color: rgba(214, 21, 182, 0.219);
    border-radius: 20px;
    font-size: 20px;
    transition: all 0.5s;
}

#section-about-me nav ul li a:hover {
    color:rgb(3, 50, 112);
    font-size: 22px;
}

#section-about-me nav ul li a {
    text-decoration: none;
    color: rgb(26, 98, 194);
    font-size: 20px;
    font-weight: bold;
}

#section-about-me nav ul li {
    list-style-type: none;
    display: inline;
    padding: 0px 20px;
}

/*Página project-name01*/
#section-name01 {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1260px;
    height: 10vh;
    background-color: #e7908e7c;
    border-radius: 20px;
    font-size: 20px;
    transition: all 0.5s;
}

#section-name01 nav ul li a:hover {
font-size: 22px;
color:rgb(3, 50, 112);
}

#section-name01 nav ul li a {
    text-decoration: none;
    color: rgb(26, 98, 194);
    font-size: 20px;
    font-weight: bold;
}

#section-name01 nav ul li {
    list-style-type: none;
    display: inline;
    padding: 0px 20px;
}

#img-left {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 70vh;
    -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  

#name02-left {
    background-color: rgba(88, 88, 202, 0.493);
    width: 40%;
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    -webkit-animation: roll-in-left 0.6s ease-out both;
	        animation: roll-in-left 0.6s ease-out both;
}

@-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  
/*Página project-name02*/

#img-name02 {
    width: 95%;
    height: 45%;
    border-radius: 20px;
    margin-top: 50px;
    transform: rotateY(30deg);
    -webkit-transform: rotateY(30deg);
    -moz-transform: rotateY(30deg);
    -ms-transform: rotateY(30deg);
    -o-transform: rotateY(30deg);
}

.text-name02 {
    font-size: larger;
    text-align: center;
    margin: 10px;
}

#name02-right {
    background-color: rgba(196, 109, 187, 0.342);
    width: 40%;
    height: 78vh;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 20px;
    -webkit-animation: roll-in-left 0.6s ease-out both;
	        animation: roll-in-left 0.6s ease-out both;
}

@-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

#body-p1 {
  display: flex;
  line-height: normal;
  font-size: 15px;
  font-weight: 400;
}

#body-p2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  font-size: 15px;
  font-weight: 400;
}

#main-p1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10vw;
    margin-bottom: 6px;
    background-color: rgba(158, 93, 219, 0);
}

#main-p2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 10vw;
  margin-bottom: 6px;
  background-color: rgba(158, 93, 219, 0);
}

#main-ty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 20px;
}

#main-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(196, 109, 187, 0.342);
    margin-left: 10px;
}

.p-right {
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
}

#title-right {
    font-size: x-large;
    text-align: center;
    
}
#title-name02 {
    font-size: 40px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}

#img-name02-right {
    width: 95%;
    height: 45%;
    border-radius: 20px;
    margin-top: 50px;
    transform:rotateY(30deg)
}

/*Página Thank-you*/

#body-page5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    margin: 20px auto;
    overflow-x: hidden;
    background-image: url(./Images/fondo-craquelado.jpg);
}

#header-page5 {
    background-color: rgba(41, 212, 212, 0.445);
    width: 17%;
    height: 90vh;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

#header-page5 nav ul li a {
    text-decoration: none;
    color: rgb(26, 98, 194);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 5px;
    transition: all 0.5s;
}

#header-page5 nav ul li a:hover {
font-size: 22px;
color:rgb(3, 50, 112);
}

#header-page5 nav ul li {
    list-style-type: none;
    padding: 20px 0px;
}

#only-section {
  background-color: rgba(88, 88, 202, 0.493);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 90vh;
  border-radius: 20px;
}

#img-page5 {
    width: 90%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    -webkit-animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes slide-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(-400px);
              transform: translateZ(-400px);
    }
  }
  @keyframes slide-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(-400px);
              transform: translateZ(-400px);
    }
  }
  

#section-page5 {
    position: absolute;
    background-color: rgba(221, 198, 214, 0.815);
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    margin-left: 1000px;
    margin-top: -320px;
    text-align: center;
 }

#section-page5 div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#ul-page5 {
    padding: 0;
    display: flex;
    flex-direction: column;
}
#ul-page5 li ul a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(26, 98, 194);
    font-size: 20px;
    font-weight: bold;
}

#ul-page5 li {
    list-style-type: none;
    display: inline;
    padding: 0px 20px;
}

h4 {
    font-size: 1em;
    height: 40px;
}

.contacto {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#contacto-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    -webkit-animation: wobble-hor-bottom 0.8s both;
    animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes wobble-hor-bottom {
0%,
100% {
-webkit-transform: translateX(0%);
  transform: translateX(0%);
-webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
15% {
-webkit-transform: translateX(-30px) rotate(-6deg);
  transform: translateX(-30px) rotate(-6deg);
}
30% {
-webkit-transform: translateX(15px) rotate(6deg);
  transform: translateX(15px) rotate(6deg);
}
45% {
-webkit-transform: translateX(-15px) rotate(-3.6deg);
  transform: translateX(-15px) rotate(-3.6deg);
}
60% {
-webkit-transform: translateX(9px) rotate(2.4deg);
  transform: translateX(9px) rotate(2.4deg);
}
75% {
-webkit-transform: translateX(-6px) rotate(-1.2deg);
  transform: translateX(-6px) rotate(-1.2deg);
}
}
@keyframes wobble-hor-bottom {
0%,
100% {
-webkit-transform: translateX(0%);
  transform: translateX(0%);
-webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
15% {
-webkit-transform: translateX(-30px) rotate(-6deg);
  transform: translateX(-30px) rotate(-6deg);
}
30% {
-webkit-transform: translateX(15px) rotate(6deg);
  transform: translateX(15px) rotate(6deg);
}
45% {
-webkit-transform: translateX(-15px) rotate(-3.6deg);
  transform: translateX(-15px) rotate(-3.6deg);
}
60% {
-webkit-transform: translateX(9px) rotate(2.4deg);
  transform: translateX(9px) rotate(2.4deg);
}
75% {
-webkit-transform: translateX(-6px) rotate(-1.2deg);
  transform: translateX(-6px) rotate(-1.2deg);
}
}

#contacto-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn:hover {
    background-color: rgba(176, 112, 219, 0.493);
  }

form {
    display: flex;
    flex-direction: column;
    border-color: blue;
    width: 50%;
}

.btn {
    width: 30%;
    margin: 5px auto;
    height: 30%;
    color: black;
}

ul {
    padding-left: 0;
}
#ul-networks  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  
#ul-networks li a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: rgb(26, 98, 194);
    font-size: 20px;
    font-weight: bold;
}

#ul-networks  li {
    list-style-type: none;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
}

h1  {
    animation-duration: 10s;
    animation-name: focus-in-expand-fwd;
    animation-iteration-count: infinite;
    -webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
#main-right {
    animation-duration: 10s;
    animation-name: colorful;
    animation-iteration-count: infinite;
}
@keyframes colorful {
    0% {
        background-color: #E78F8E;
        top: 0px;
    }

    100% {
        background-color: rgba(176, 112, 219, 0.493);
        top: 0px;
    }
}

#section-page5 {
    animation-duration: 3s;
    animation-name: puff-in-top ;
    animation-iteration-count: infinite;
    -webkit-animation: puff-in-top 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-top 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
   }

   @-webkit-keyframes puff-in-top {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-top {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

#section-cont {
    animation-duration: 3s;
    animation-name: slide-in-left;
    animation-iteration-count: infinite;
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* MOBILE */
  @media (max-width: 650px) {
    
    html,
    body {
      width: 100vw;
      height: 100vh;
    }

    /*INDEX*/
    #header-index {
      flex-direction: column;
    }

    #header-index nav ul {
      display: flex;
      flex-direction: column;
    }

    .container {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
      margin: 0px 0px;
      justify-content: center;
      background-image: url(./Images/fondo-craquelado.jpg);
    }

    .banner {
      align-self: center;
      width: 90%;
    }

    #section-cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      padding: 10px 10px;
      width: 100vw;
    }

    /*P1*/
    #body-p1 {
      display: block;
      flex-direction: column;
      height: 100%;
      margin-bottom: 10px;
      margin-left: 0px;
    }
    #main-p1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 0px;
      margin-bottom: 10px;
    }
    .main-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 0px;
    }
    #logo-p1 {
      display: flex;
      text-decoration: none;
      color: black;
      font-size: 2.0em;
      text-align: center;
      vertical-align: middle;
      justify-content: center;
      font-weight: bold;
    }
    #img-container-p1 {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }
    #img-left {
      display: flex;
      align-self: center;
      width: 95%;
      height: 100%;
    }
    #main-right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      margin: 0px 0px;
    }
    #section-name01 {
      display: flex;
      justify-content: center;
      width: 95%;
      height: 25vh;
      background-color: #e7908e7c;
      border-radius: 20px;
      transition: all 0.5s;
    }
    #nav-items-p1 {
      display: flex;
      flex-direction: column;
    }

    /*P2*/
    #body-p2 {
      display: block;
      flex-direction: column;
      height: 100%;
      margin-bottom: 10px;
      margin-left: 0px;
    }
    #main-p2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px 0px;
      margin-bottom: 10px;
      background-color: rgba(158, 93, 219, 0);
    }
    #name02-left {
      background-color: rgba(88, 88, 202, 0.493);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border-radius: 20px;
      -webkit-animation: roll-in-left 0.6s ease-out both;
      animation: roll-in-left 0.6s ease-out both;
    }
    #img-name02 {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      margin-top: 20px;
      transform: rotateY(30deg);
      -webkit-transform: rotateY(30deg);
      -moz-transform: rotateY(30deg);
      -ms-transform: rotateY(30deg);
      -o-transform: rotateY(30deg);
    }
    #name02-right {
      background-color: rgba(88, 88, 202, 0.493);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-left: 0px;
      border-radius: 20px;
      -webkit-animation: roll-in-left 0.6s ease-out both;
      animation: roll-in-left 0.6s ease-out both;
    }
    #title-name02 {
      font-size: 30px;
      text-align: center;
      color: aliceblue;
      font-weight: bold;
    }
    #img-name02-right {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      margin-top: 20px;
      transform: rotateY(30deg);
      -webkit-transform: rotateY(30deg);
      -moz-transform: rotateY(30deg);
      -ms-transform: rotateY(30deg);
      -o-transform: rotateY(30deg);
    }
  }

  /* PC */
  @media (min-width: 1024px) {
    /*INDEX*/
    .logo {
      margin-right: 20px;
    }

    .container {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100vw;
      margin: 0px 0px;
      justify-content: center;
      background-image: url(./Images/fondo-craquelado.jpg);
    }

    .main-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 0px;
    }

    #index-img {
      width: 90vw;
      align-self: center;
    }

    #section-cont {
      background-image: linear-gradient(to left, pink , white);
      position: absolute;
      width: 500px;
      right: 15vw;
      bottom: 250px;
      padding: 20px;
      text-align: center;
      border-radius: 20px;
      font-size: larger;
    }

    /*P1*/
    #body-p1 {
      display: block;
      height: 80vh;
    }
  }